*{
    box-sizing: border-box;
}
.SignUp{
    
    height : 90vh;
    display : flex;
    justify-content : center;
    align-items : center;
}
.SignUp form {
    height : 100%;
    box-shadow : 0 0 8px rgba(160, 157, 157, 0.3);
    border-radius : 8px;
    padding : 0 30px 20px 30px;
    width : 34%;
    display : flex;
    flex-direction : column;
    box-sizing: border-box;
    justify-content : center;
    
}

.SignUp form input{
    height : 28px;
    padding-left : 10px;
    font-size : 15px;
}
.SignUp form label{
    margin-bottom : 10px;
}
.SignUp form p{
    display : block;
    animation : transitionUp 0.2s ease-in;
    font-size : 12px;
}
.SignUp button{
    width : 100px;
    padding : 10px;
    display : flex;
    align-items : center;
    justify-content : center;
    font-size : 17px;
    background-color : white;
    border-radius : 5px;
    border : 0.5px solid black;
    transition : background-color 0.3s ease-in-out
}

.SignUp button:hover{
    background-color : black;
    color : white;
}

.SignUp button:disabled{
    pointer-events: none;
    cursor : not-allowed;
    background-color : rgb(233, 232, 232);
}

@keyframes transitionUp{
    from{
        opacity : 0;
        transform : translateY(-10px)
    }
    to{
        opacity : 1;
        transform : translateY(0)
    }
}

