.FullPost{
    margin-left : 10%;
}
.Container{
    display : flex;
    flex-direction : column;
    width : 60%;
}
.FullPost .Category{
    display : inline-block;
    border : 2px solid black;
    padding : 8px;
    position : relative;
}

.FullPost .Title{
    font-weight : bolder;
    display : block;
    font-size : 40px;
}
.FullPost .AuthorDate{
    
    display : flex;
    width : 60%;
    align-items : center;
}

.FullPost .Author{
    
    font-weight : bold;
    flex : 1;
}
.FullPost .Author .AuthorSpan{
    margin-left : 8px;
    font-size : 25px;
    
}
.FullPost .Author span img{
    
    width : 30px;
    height : 30px;
}

.FullPost .Date{
    flex : 1;
}

.FullPost .Text{
    
    display : block;
}

.FullPost .Delete, .FullPost .Update {
    display : flex;
    justify-content : center;
    align-items : center;
    padding : 5px;
    margin : 10px;
}

.FullPost .Delete:hover,.FullPost .Update:hover{
    background-color : black;
    color : white
}

.FullPost .EditDelete{
    display : flex;
}

.FullPost textarea{
    padding : 5px;
    width : 50%;
    height : 60px;
    overflow : auto;
    font-size : 16px;
    font-family: 'Nunito', sans-serif;
    border : 0.5px solid rgb(126, 123, 123);
}

