
.NavigationItem a {
    text-decoration : none;
    border : none;
    color : rgb(209, 202, 202);
    padding : 7px;
    overflow : hidden;
    transition : border 0.2s linear;
}
.NavigationItem a:hover,
.NavigationItem a.active{
    
    font-weight : 700;
    color : white;

}
