*{
    box-sizing: border-box;
}
.PostForm{
    width : 100%;
    display : flex;
    justify-content : center;
    align-items : center;
    margin-left : 30px;
}

.PostForm .Title{
    border : 0.4px solid rgb(194, 186, 186);
    font-size : 40px;
    height : 60px;
    font-weight : 400;
    line-height : 1;
}
.PostForm form {
    display : flex;
    box-sizing: border-box;
    flex-direction : column;
    width : 60%;
    overflow : auto;
    
}
.PostForm form textarea{
    height : 300px;
    margin : 10px;
    font-size : 16px;
    font-family: 'Nunito', sans-serif;
    padding : 10px;
}
.PostForm form input{
    height : 28px;
    padding-left : 10px;
    font-size : 15px;
    margin : 10px;
    border-radius : 5px;
    border : 0.5px solid black;
}

.PostForm form select{
    display : inline-block;
    margin : 10px;
    height : 30px;
    font-size : 15px;
    background-color : black;
    color : white;
    border-radius : 5px;
}

button{
    width : 100px;
    padding : 10px;
    margin-top : 10px;
    display : flex;
    align-items : center;
    justify-content : center;
    font-size : 17px;
    background-color : white;
    border-radius : 5px;
    border : 0.5px solid black;
    transition : background-color 0.3s ease-in-out
}

button:hover{
    background-color : black;
    color : white;
}

.PostForm .wrapper-class{
    width : 70%;
}